src
node_modules
.nyc_output
coverage
.git
.github
.nycrc
.prettierignore
.prettierrc
.releaserc.json
commitlint.config.js
jsdoc2md.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.eslintignore
.eslintrc.js
.gitignore
.mocharc.json